{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Classement</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/classement.css' %}">
    <link rel="icon" href="https://w7.pngwing.com/pngs/475/673/png-transparent-lollipop-candy-hand-painted-lollipop-watercolor-painting-food-photography.png">
</head>
<body>
    <div id='overall_continue'>
        <div id="navbar">
            <a href="gamemode.html"><img src="https://cdn.discordapp.com/attachments/1165990850875117678/1182297705687564298/image.png?ex=65842f8b&is=6571ba8b&hm=94b99ab11fcd73ee81d550891bab5e7c84cca96213fef0373ab9d9454621c1db&" id="backbutton"></a>
            <div id="profilbar">
                <div id="profil">
                    <a href="profil.html"><img src="https://cdn.discordapp.com/attachments/1165990850875117678/1182458299220774912/image_1-removebg-preview.jpg?ex=6584c51b&is=6572501b&hm=db891545cbf4aec9a649bf7bd7c1f0a0bebdfbca78cc69848a434a1107a513e6&" width="130px" height="130px"></a>
                </div>
                <div id="profil">
                <a href="classement.html"><img src="https://cdn.discordapp.com/attachments/1165990850875117678/1182460066759192687/image.png?ex=6584c6c0&is=657251c0&hm=eebe2f64081a34ed7e064393301d2387007ad3579ba8e5d999702ab27a9f936e&" height="130px"></a>
                </div>
            </div>  
        </div>
        <div id="rules">
            <h1>Mem<img src="https://cdn.discordapp.com/attachments/1182089346598314026/1182100514884817036/image.png?ex=658377e5&is=657102e5&hm=e35144528f4387173549526a2ca5dfb83d44032c6941278c3bec69ea1841b299&" width=26.5px>ry Game</h1>
            <p>Classement des meilleurs parties !</p>
        </div>
    </div>
    
    <div id="main-container">
        {% if request.user.is_authenticated %}
            {{ request.user.username }} - Score : {{ request.POST.score }}
        {% else %}
            Non connecté
        {% endif %}

        <!-- Afficher les scores depuis la base de données -->
        <h2>Classement :</h2>
        <ul>
            {% for game in games %}
                <li>{{ game.player }} - Score : {{ game.score_game }}</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>