{%load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Profil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}">
    <link rel="icon" href="https://w7.pngwing.com/pngs/475/673/png-transparent-lollipop-candy-hand-painted-lollipop-watercolor-painting-food-photography.png">
</head>
<body>
    <!-- header -->
    <!-- Top navigation -->

    <header>
        <div>
            <a href="gamemode.html"><img src="https://cdn.discordapp.com/attachments/1165990850875117678/1182297705687564298/image.png?ex=65842f8b&is=6571ba8b&hm=94b99ab11fcd73ee81d550891bab5e7c84cca96213fef0373ab9d9454621c1db&"></a>
        </div>
        <div id="profil">
            <div class="flex-items"><a href="profil.html"><img src="https://cdn.discordapp.com/attachments/1165990850875117678/1182458299220774912/image_1-removebg-preview.jpg?ex=6584c51b&is=6572501b&hm=db891545cbf4aec9a649bf7bd7c1f0a0bebdfbca78cc69848a434a1107a513e6&" width="130px" height="130px"></a></div>
            <div class="flex-items"><a href="classement.html"><img src="https://cdn.discordapp.com/attachments/1165990850875117678/1182460066759192687/image.png?ex=6584c6c0&is=657251c0&hm=eebe2f64081a34ed7e064393301d2387007ad3579ba8e5d999702ab27a9f936e&" height="130px"></a></div>
        </div>
    </header>
    <div id="main-container">
        <div id="user">
            <h2>Vous êtes connecté en temps que :</h2>
            {{user}}
        </div>
    </div>


    <!-- intérieur de la page -->
</body>
</html>