body {
    background-color: rgb(70, 20, 91);
    font-family: 'Emilys Candy', serif;
}

*{
    color: #ccc;
}

.card {
    width: 153px; /* Ajustez la largeur de la carte selon vos besoins */
    height: 281px; /* Ajustez la hauteur de la carte selon vos besoins */
    background-image: url(https://cdn.discordapp.com/attachments/1165990850875117678/1182315479294038016/image.png?ex=65844018&is=6571cb18&hm=5b30d7cbb732096c182b25b5052e7208bfea4a8131361cdcae377f1ee6c9bc13&);
    display: inline-block;
    margin: 5px; /* Marge entre les cartes */
    text-align: center;
    line-height: 100px; /* Ajustez la hauteur de ligne pour centrer le texte verticalement */
    cursor: pointer; /* Change le curseur au survol de la carte */
    position: relative; /* Ajout de position relative pour positionner les faces absolues */
    transition: transform 0.6 ease;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.card .back {
    background-size: cover;
    /* Les styles pour la face arrière d'une carte (non retournée) */
    transform: rotateY(180deg); /* Rotation pour retourner la carte */
    backface-visibility: hidden; /* Cache la face arrière lorsqu'elle est tournée */
}

.card.flipped .back {
    /* Les styles pour la face arrière d'une carte retournée */
    transform: rotateY(0deg); /* Retourne la face arrière à sa position initiale */
}



#memory-game-container {
    text-align: center;
    justify-content: center;
}

.menubutton{
    height: auto;
    width: auto;
    font-size: large;
    font-style: oblique;
    margin: 5px;
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    transition: transform .2s; /* Animation */
}

.menubutton:hover{
    transform: scale(1.09);
}


#startbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */

/* button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
} */

#continue{
    background-image: url(https://cdn.discordapp.com/attachments/1182089346598314026/1182111296632664114/image.png?ex=658381ef&is=65710cef&hm=cd4e31180fc39b9938db9025c4e00db0a3a2033eabf1b1fd7868f912bd9f21c6&);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: x-large;
}

#continue-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */

#scorebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 200px;
    background-image: url("https://cdn.discordapp.com/attachments/1182089346598314026/1182101549690921090/image.png?ex=658378db&is=657103db&hm=29101c794e7df435c939c6abdf00fc331abe63a56eac0d8570605ad6218af3a8&");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: xx-large;
    transition: transform .2s; /* Animation */
}

#score{
    display: flex;
    justify-content: center;
}

#scorebox:hover{
    transform: scale(1.09);
}

#stopwatch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */

/* flouter le tout a part le menu pour rejouer quand gagner*/
.overall_continue_act{
    filter: blur(30px);
}

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */



#rules{
    background-image: url();
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */

#navbar{
    display: flex;
    flex-direction: row;
}

#profilbar{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
  

img{
    transition: transform 0.5s;
}
  
img:hover{
    transform: scale(1.19);
}